## Model - Claim Detection
- Class 0 - No Claim -> Negative
- Class 1 - Claim -> Positive
- **GOALS** : Meminimalkan False-Negative (prediksi No Claim tetapi aktual Claim)
- Model akan berfokus di Recall score

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

Import file setelah prepocess

In [ ]:
df = pd.read_csv('train.csv')
df.head()

,Agency,Agency Type,Distribution Channel,Product Name,Duration,Destination,Net Sales,Commision (in value),Age,Claim
0,C2B,Airlines,Online,Annual Silver Plan,365,SINGAPORE,216.0,54.0,57.0,0
1,EPX,Travel Agency,Online,Others,4,MALAYSIA,10.0,0.0,33.0,0
2,Others,Airlines,Online,Others,19,INDIA,22.0,7.7,26.0,0
3,EPX,Travel Agency,Online,2 way Comprehensive Plan,20,UNITED STATES,112.0,0.0,59.0,0
4,C2B,Airlines,Online,Bronze Plan,8,SINGAPORE,16.0,4.0,28.0,0

encoding data

In [ ]:
df = pd.get_dummies(df, columns = ['Agency', 'Agency Type', 'Distribution Channel', 'Product Name', 'Destination'], drop_first = True)

Save dataframe hasil encoding ke dalam file csv baru, akan dipakai untuk proses Cross Validation dan proses Handling Imbalance Data selanjutnya.

In [ ]:
df.to_csv('encoded_train.csv', index=False)
df.head()

,Duration,Net Sales,Commision (in value),Age,Claim,Agency_CWT,Agency_EPX,Agency_Others,Agency Type_Travel Agency,Distribution Channel_Online,...,Destination_UNITED ARAB EMIRATES,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,Destination_ZAMBIA,Destination_ZIMBABWE
0,365,216.0,54.0,57.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,4,10.0,0.0,33.0,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,19,22.0,7.7,26.0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,20,112.0,0.0,59.0,0,0,1,0,1,1,...,0,0,1,0,0,0,0,0,0,0
4,8,16.0,4.0,28.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split

define feature(x) dan target(y)

In [ ]:
X = df.drop(columns = 'Claim')
y = df['Claim']



- Splitting data training 80:20 testing
- gunakan stratify agar proporsi antara dataset train dan test sama

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .80, stratify = y, random_state = 100)

In [ ]:
X_train.head()

,Duration,Net Sales,Commision (in value),Age,Agency_CWT,Agency_EPX,Agency_Others,Agency Type_Travel Agency,Distribution Channel_Online,Product Name_Annual Silver Plan,...,Destination_UNITED ARAB EMIRATES,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,Destination_ZAMBIA,Destination_ZIMBABWE
32196,34,7.84,2.20,48.0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
37891,24,20.00,0.00,35.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
20289,42,10.00,0.00,23.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
28541,33,30.00,10.50,47.0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24352,13,29.70,17.82,38.0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_test.head()

,Duration,Net Sales,Commision (in value),Age,Agency_CWT,Agency_EPX,Agency_Others,Agency Type_Travel Agency,Distribution Channel_Online,Product Name_Annual Silver Plan,...,Destination_UNITED ARAB EMIRATES,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,Destination_ZAMBIA,Destination_ZIMBABWE
23288,15,79.2,47.52,49.0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
40495,49,13.5,3.38,64.0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10226,31,69.3,41.58,33.0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
12960,8,24.0,0.00,36.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
30212,29,61.0,0.00,35.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

## 1. Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
LR = LogisticRegression()

In [ ]:
LR.fit(X_train, y_train)

LogisticRegression()

In [ ]:
LR.score(X_train, y_train)

0.984457436189933

In [ ]:
LR.score(X_test, y_test)

0.9846013459564276

In [ ]:
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, \
confusion_matrix, roc_auc_score, classification_report, roc_curve, auc

StratifiedKFold mengatur berapa kali dataset train dan model mengalami validasi

In [ ]:
skf = StratifiedKFold(n_splits = 5)

In [ ]:
def Cross_Val(model, X, y, Nama):
    skf = StratifiedKFold(n_splits = 5)
    cv_Acc = cross_val_score(model, X, y, cv = skf) 
    cv_recall = cross_val_score(model, X, y, cv = skf, scoring = 'recall')
    cv_precision = cross_val_score(model, X, y, cv = skf, scoring = 'precision')
    cv_f1 = cross_val_score(model, X, y, cv = skf, scoring = 'f1')
    data = {
        Nama + "CV (Mean)" : [cv_Acc.mean(), cv_recall.mean(), cv_precision.mean(), cv_f1.mean()],
        Nama + "CV (Std)" : [cv_Acc.std(), cv_recall.std(), cv_precision.std(), cv_f1.std()]
    }
    df = pd.DataFrame(data, index = ["Accuracy", "Recall", "Precision", "F1"])
    return df

In [ ]:
df_LR_train = Cross_Val(LR, X_train, y_train, "Logistic Regression Training").T
df_LR_train

                                       Accuracy  Recall  Precision   F1
Logistic Regression TrainingCV (Mean)  0.984457     0.0        0.0  0.0
Logistic Regression TrainingCV (Std)   0.000180     0.0        0.0  0.0

In [ ]:
df_LR_test = Cross_Val(LR, X_test, y_test, "Logistic Regression Testing").T
df_LR_test

                                      Accuracy  Recall  Precision   F1
Logistic Regression TestingCV (Mean)  0.984601     0.0        0.0  0.0
Logistic Regression TestingCV (Std)   0.000004     0.0        0.0  0.0


Berdasarkan tabel diatas, model Logistic Regression tidak mampu mengenali Type 1 adn Type 2 Error, dikarenakan nilai 0 pada dataset test (hanya muncul nilai pada Accuracy)
>model ini tidak akan dipakai pada proses selanjutnya

## 2. K Nearest Neighbors

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
KNN = KNeighborsClassifier()

In [ ]:
KNN.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
df_KNN_train = Cross_Val(KNN, X_train, y_train, "KNN Training").T
df_KNN_train

                       Accuracy  Recall  Precision   F1
KNN TrainingCV (Mean)  0.984001     0.0        0.0  0.0
KNN TrainingCV (Std)   0.000189     0.0        0.0  0.0

In [ ]:
df_KNN_test = Cross_Val(KNN, X_test, y_test, "KNN Testing").T
df_KNN_test

                      Accuracy    Recall  Precision        F1
KNN TestingCV (Mean)  0.984715  0.007407        0.2  0.014286
KNN TestingCV (Std)   0.000226  0.014815        0.4  0.028571

Dari tabel di atas bisa disimpulkan bahwa model mampu mengenali kelas minoritas namun tidak mampu mengenali kelas mayoritas

## 3. Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
DT = DecisionTreeClassifier()

In [ ]:
DT.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
df_DT_train = Cross_Val(DT, X_train, y_train, "DT Training").T
df_DT_train

                      Accuracy    Recall  Precision       F1
DT TrainingCV (Mean)  0.968459  0.047944   0.043396  0.04741
DT TrainingCV (Std)   0.001639  0.028098   0.027189  0.02168

In [ ]:
df_DT_test = Cross_Val(DT, X_test, y_test, "DT Testing").T
df_DT_test

                     Accuracy    Recall  Precision        F1
DT TestingCV (Mean)  0.968632  0.007407   0.008333  0.021757
DT TestingCV (Std)   0.002549  0.014815   0.016667  0.017839

Berdasarkan tabel diatas, model Decision Tree mampu mengenali kedua target, terlihat dari nilai recall, precision dan F1
>dapat diikutkan tahap selanjutnya (imbalancing data handling)

## 4. Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
RF = RandomForestClassifier()

In [ ]:
RF.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
df_RF_train = Cross_Val(RF, X_train, y_train, "RF Training").T
df_RF_train

                      Accuracy    Recall  Precision        F1
RF TrainingCV (Mean)  0.982461  0.012912   0.090918  0.025666
RF TrainingCV (Std)   0.000967  0.011043   0.058135  0.012851

In [ ]:
df_RF_test = Cross_Val(RF, X_test, y_test, "RF Testing").T
df_RF_test

                     Accuracy  Recall  Precision      F1
RF TestingCV (Mean)  0.982548     0.0        0.0  0.0125
RF TestingCV (Std)   0.000454     0.0        0.0  0.0250

Dari tabel di atas, terlihat bahwa Random Forest mampu mendeteksi kelas minoritas namun tidak mampu mendeteksi type 1 error dan type 2 error (Recall dan Precision 0 di testing) sehingga tidak akan memakai model Random Forest untuk proses selanjutnya

## 5. Support Vector Classifier

In [ ]:
from sklearn.svm import SVC

In [ ]:
SVC = SVC()

In [ ]:
SVC.fit(X_train, y_train)

SVC()

In [ ]:
df_SVC_train = Cross_Val(SVC, X_train, y_train, "SVC Training").T
df_SVC_train

                       Accuracy  Recall  Precision   F1
SVC TrainingCV (Mean)  0.984543     0.0        0.0  0.0
SVC TrainingCV (Std)   0.000070     0.0        0.0  0.0

In [ ]:
df_SVC_test = Cross_Val(SVC, X_test, y_test, "SVC Testing").T
df_SVC_test

                      Accuracy  Recall  Precision   F1
SVC TestingCV (Mean)  0.984601     0.0        0.0  0.0
SVC TestingCV (Std)   0.000004     0.0        0.0  0.0

Dari tabel di atas bisa disimpulkan bahwa model hanya mampu mengenali kelas mayoritas (hanya muncul skor di Accuracy), dan tidak mampu mengenali Type 1 dan Type 2 Error. Sehingga model ini tidak akan dipakai di proses selanjutnya.

**Berikut adalah tabel lengkap untuk membandingkan semua model dasar.**

In [ ]:
pd.concat([df_LR_train, df_LR_test, df_KNN_train, df_KNN_test, df_DT_train, df_DT_test, df_RF_train, df_RF_test, df_SVC_train, df_SVC_test])

                                       Accuracy    Recall  Precision        F1
Logistic Regression TrainingCV (Mean)  0.984457  0.000000   0.000000  0.000000
Logistic Regression TrainingCV (Std)   0.000180  0.000000   0.000000  0.000000
Logistic Regression TestingCV (Mean)   0.984601  0.000000   0.000000  0.000000
Logistic Regression TestingCV (Std)    0.000004  0.000000   0.000000  0.000000
KNN TrainingCV (Mean)                  0.984001  0.000000   0.000000  0.000000
KNN TrainingCV (Std)                   0.000189  0.000000   0.000000  0.000000
KNN TestingCV (Mean)                   0.984715  0.007407   0.200000  0.014286
KNN TestingCV (Std)                    0.000226  0.014815   0.400000  0.028571
DT TrainingCV (Mean)                   0.968459  0.047944   0.043396  0.047410
DT TrainingCV (Std)                    0.001639  0.028098   0.027189  0.021680
DT TestingCV (Mean)                    0.968632  0.007407   0.008333  0.021757
DT TestingCV (Std)                     0.002549  0.014815   0.016667  0.017839
RF TrainingCV (Mean)                   0.982461  0.012912   0.090918  0.025666
RF TrainingCV (Std)                    0.000967  0.011043   0.058135  0.012851
RF TestingCV (Mean)                    0.982548  0.000000   0.000000  0.012500
RF TestingCV (Std)                     0.000454  0.000000   0.000000  0.025000
SVC TrainingCV (Mean)                  0.984543  0.000000   0.000000  0.000000
SVC TrainingCV (Std)                   0.000070  0.000000   0.000000  0.000000
SVC TestingCV (Mean)                   0.984601  0.000000   0.000000  0.000000
SVC TestingCV (Std)                    0.000004  0.000000   0.000000  0.000000

Berdasarkan tabel diatas

Decision Tree terlihat promising untuk digunakan tahap selanjutnya (dilihat dari skor recall, precision, dan F1)


**Berikut evaluation metrics decision tree**

In [ ]:
def Eva_Matrix(model, x_train, x_test, y_train, y_test, Nama):
    Model = model.fit(x_train, y_train)
    y_pred_train = Model.predict(x_train)
    acc_train = accuracy_score(y_train, y_pred_train)
    rec_train = recall_score(y_train, y_pred_train)
    prec_train = precision_score(y_train, y_pred_train)
    f1_train = f1_score(y_train, y_pred_train)

    y_pred_test = Model.predict(x_test)
    acc_test = accuracy_score(y_test, y_pred_test)
    rec_test = recall_score(y_test, y_pred_test)
    prec_test = precision_score(y_test, y_pred_test)
    f1_test = f1_score(y_test, y_pred_test)
    
    data_DT = {
    Nama + ' Training':[acc_train, rec_train, prec_train, f1_train],
    Nama + ' Testing':[acc_test, rec_test, prec_test, f1_test]
}

    df_DT = (pd.DataFrame(data_DT, index = ['Accuracy','Recall','Precision','F1']).T).round(4)
    cr_train = classification_report(y_train, y_pred_train)
    cm_train = confusion_matrix(y_train, y_pred_train, labels = [1,0])
    df_train = pd.DataFrame(data = cm_train, columns = ['Pred 1','Pred 0'], index = ['Akt 1','Akt 0'])

    cr_test = classification_report(y_test,y_pred_test)
    cm_test = confusion_matrix(y_test,y_pred_test,labels = [1,0])
    df_test = pd.DataFrame(data = cm_test,columns = ['Pred 1','Pred 0'], index = ['Akt 1','Akt 0'])

    return df_DT, cr_train, df_train, cr_test, df_test

In [ ]:
# Decision Tree Evaluation Matrix function
df_DT_1, cr_DT_train, cm_DT_train, cr_DT_test, cm_DT_test = Eva_Matrix(DT, X_train, X_test, y_train, y_test, 'Decision Tree Base')

In [ ]:
df_DT_1.T

           Decision Tree Base Training  Decision Tree Base Testing
Accuracy                        0.9983                      0.9710
Recall                          0.8948                      0.0741
Precision                       0.9979                      0.0719
F1                              0.9436                      0.0730

In [ ]:
print(cr_DT_train, cr_DT_test)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     34523
           1       1.00      0.89      0.94       542

    accuracy                           1.00     35065
   macro avg       1.00      0.95      0.97     35065
weighted avg       1.00      1.00      1.00     35065
               precision    recall  f1-score   support

           0       0.99      0.99      0.99      8632
           1       0.07      0.07      0.07       135

    accuracy                           0.97      8767
   macro avg       0.53      0.53      0.53      8767
weighted avg       0.97      0.97      0.97      8767

In [ ]:
# Confusion Matrix Training Data
cm_DT_train

       Pred 1  Pred 0
Akt 1     485      57
Akt 0       1   34522

In [ ]:
# Confusion Matrix Testing Data
cm_DT_test

       Pred 1  Pred 0
Akt 1      10     125
Akt 0     129    8503

- data testing memiliki type 1 dan type 2 error lebih banyak daripada data training
- recall positive mengalami penurunan (indikasi overfitting)

hal diatas akan diatasi dengan imbalance data handling